@import './../../../styles.scss';

section {
    background-color: $color-orange;
    @include display($ai: flex-start);
}

.company-offers {
    height: 200px;
    @include display($jc: space-between, $ai: flex-start);
    gap: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 500;
    color: $color-white;
    padding: 120px 0;
    >h1 {
        font-size: 20px;
    }
    p {
        margin-top: 20px;
    }
    >div {
        width: 32%;
    }
}