@import './../../../styles.scss';

section {
    background-color: $color-orange;
    @include display($ai: flex-start);
    padding-bottom: 240px;
}

.company-offers {
    height: 200px;
    @include display($jc: space-between, $ai: flex-start);
    gap: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 500;
    color: $color-white;
    padding: 120px 0;
    p {
        margin-top: 20px;
    }
    >div {
        width: 32%;
    }
}

@media (max-width: 900px) {
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    section {
        padding-bottom: 0;
    }

    .company-offers {
        flex-direction: column;
        height: auto;
        p {
            margin-top: 8px;
        }
        >div {
            width: 100%;
        }
    }
}
