@import './../../../styles.scss';

section {
    @include display($ai: flex-start);
    background-color: $color-background;
    padding-bottom: 60px;
}

.card-box {
    height: 200px;
    margin-top: 280px;
    // background-color: rgba(100, 100, 100, 0.3);
    @include display();
    gap: 40px;
    >.card {
        width: 230px;
        height: 212px;
        background-color: white;
        @include display();
        flex-direction: column;
        gap: 16px;
        >h1 {
            font-size: 28px;
            text-transform: uppercase;
            font-family: 'Montserrat', Arial, sans-serif;
            font-weight: 500;
        }
        >img {
            width: 64px;
            height: 64px;
        }
    }
}



