@import './../../../styles.scss';

section {
    @include display($ai: flex-start);
    background-color: $color-background;
    padding-bottom: 60px;
}

.card-box {
    height: 200px;
    margin-top: 280px;
    // background-color: rgba(100, 100, 100, 0.3);
    @include display();
    gap: 40px;
    >.card {
        width: 230px;
        height: 212px;
        background-color: white;
        @include display();
        flex-direction: column;
        gap: 16px;
        >h1 {
            font-size: 28px;
            text-transform: uppercase;
            font-family: 'Montserrat', Arial, sans-serif;
            font-weight: 500;
        }
        >img {
            width: 64px;
            height: 64px;
        }
    }
}

@media (max-width: 1024px) {
    .card-box {
        margin-top: 225px;
        >.card {
            width: 180px;
            height: 180px;
            >h1 {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 900px) {
    .card-box {
        margin-top: 225px;
        >.card {
            width: 140px;
            height: 140px;
            >h1 {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .card-box {
        margin-top: 168px;
        @include display($flex: grid);
        grid-template-columns: 0fr 0fr;
        gap: 20px;
        height: auto;
        >.card {
            width: 140px;
            height: 140px;
            >img {
                width: 32px;
                height: 32px;
            }
        }
    }
}


