@import './../../../styles.scss';

section {
    background-color: $color-blue-primary;
    @include display($ai: flex-start);
    height: 500px;
}

h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: $color-white;
    padding: 0 0 60px 0;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
    height: 650px;
}