@import './../../../styles.scss';

section {
    background-color: $color-orange;
    @include display($ai: flex-start);
    height: 500px;
}

h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: $color-white;
    padding: 0 0 60px 0;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
    height: 650px;
}

@media (max-width: 768px) {
    section {
        height: 280px;
    }

    h1 {
        font-size: 32px;
        padding: 0 0 32px 0;
    }

    br {
        display: none;
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 24px;
    }
}