@import './../../../styles.scss';

button {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 99999px;
    position: absolute;
    top: 60px;
    right: 60px;
}

section {
    width: 720px;
    height: 480px;
    background-color: $color-background;
    border-radius: 12px;
    @include display($jc: flex-start);
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.img-box {
    // background-color: aqua;
    max-width: 640px;
    @include display();
    gap: 8px;
    overflow: hidden;
    >img {
        width: 33%;
    }   

}

.text-box {
    // background-color: red;
    width: 100%;
    // padding: 20px;
    @include display($ai: flex-start, $jc: flex-start);
    flex-direction: column;
    gap: 8px;
    h1 {
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 24px;
        font-weight: 600;
    }
    p {
        font-family: "Open Sans", Arial, sans-serif;

    }
}