@import './../../../styles.scss';

section {
    @include display();

}

.desk-width {
    width: 100%;
    max-width: 1200px;
}

nav {
    @include display($jc: space-between);
    // background-color: aqua;
    padding: 20px 0;
    >h1 {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
    }
    >img {
        width: 40px;
        cursor: pointer;
    }
}