@import './../../../styles.scss';

section {
    @include display();
    background-color: white;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));

}

.desk-width {
    width: 100%;
    max-width: 1200px;
}

nav {
    @include display($jc: space-between);
    // background-color: aqua;
    padding: 20px 0;
    >h1 {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        a {
            color: $color-black-text;
            text-decoration: none;
        }
    }
    >img {
        width: 40px;
        cursor: pointer;
    }
}