@import './../../../styles.scss';

section {
    @include display();
    background-color: white;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}


.desk-width {
    width: 100%;
    max-width: 1200px;
}

nav {
    @include display($jc: space-between);
    // background-color: aqua;
    height: 80px;
    >h1 {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        a {
            color: $color-black-text;
            text-decoration: none;
        }
    }
    >img {
        width: 40px;
        cursor: pointer;
        display: none;
    }
}

.menu {
    @include display($flex: grid);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    a {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $color-black-text;
        width: 130px;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: $color-orange;
            text-decoration-thickness: 2px;
            font-weight: 500;
        }
    }
}

@media (max-width: 1280px) {
    .desk-width {
        padding: 0 40px;
    }
}


