@import './../../../../styles.scss';

section {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include display();
    opacity: 0;
    animation: fadeInOut 3s;
}

div {
    padding: 40px 80px;
    background-color: white;
    border-radius: 12px;
    h1 {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 24px;
        font-weight: 600;
    }
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
