@import './../../../styles.scss';

section {
    @include display($ai: flex-start);
    background-color: $color-background;
    padding-bottom: 60px;
}

h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: $color-black-text;
    padding: 60px 0 60px 0;
    text-align: center;
}

.example-box {
    @include display();
    gap: 16px;
    color: $color-black-text;
    text-align: center;
    >div {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 20px;
        >div {
            height: 400px;
            overflow: hidden;
            >img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                transition: scale 250ms ease-in-out;
                &:hover {
                    scale: (1.05);
                }
            }
        }
    }
    h2 {
        font-size: 24px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 400;
        margin: 20px 0 0 0;
    }
    h3 {
        margin: 50px 0 20px 0;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: $color-orange;
        text-underline-offset: 8px;
        width: 50px;
        cursor: pointer;
        transition: transform 250ms ease-in-out;
        &:hover {
            transform: translateY(-8px);
            
        }
    }
    p {
        margin: 15px 0 0 0;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .example-box {
        >div {
            >div {
                height: 240px;
                >img {
                    height: 240px;
                }
            }
        }
        h3 {
            margin: 24px 0 20px 0;
        }
    }
}

@media (max-width: 900px) {
    .example-box {
        align-items: stretch;
        >div {
            // height: 512px;
            >div {
                height: 218px;
                >img {
                    height: 218px;
                }
            }
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 15.6px;
        }
        h3 {
            margin: 24px 0 8px 0;

        }
    }
}

@media (max-width: 768px) {
    br {
        display: none;
    }
    h1 {
        font-size: 32px;
        padding: 60px 0 48px 0;
    }
    .example-box {
        flex-direction: column;
        >div {
            margin-bottom: 24px;
            >div {
                height: 240px;
                >img {
                    height: 240px;
                }
            }
        }
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
        }

    }
}