@import './../../../styles.scss';

section {
    @include display($ai: flex-start);
    background-color: $color-background;
    padding-bottom: 60px;
}

h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: $color-black-text;
    padding: 60px 0 60px 0;
    text-align: center;
}

.example-box {
    @include display();
    gap: 16px;
    color: $color-black-text;
    text-align: center;
    >div {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        >img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }
    h2 {
        font-size: 24px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 400;
        margin: 20px 0 0 0;
    }
    h3 {
        margin: 20px 0 30px 0;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: $color-orange;
        text-underline-offset: 8px;
        cursor: pointer;
    }
    p {
        margin: 15px 0 0 0;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
    }
}