@import './../../styles.scss';

section {
    @include display();
    margin-bottom: 48px;
}

h1, h2, h3, h4, strong{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: $color-black-text;
    margin: 48px 0 8px 0;
}

h2 {
    font-size: 24px;
    margin: 16px 0 8px 0;
}

h3, h4, strong{
    font-size: 16px;
    margin: 16px 0 4px 0;
}

ul, li {
    font-family: "Open Sans", Arial, sans-serif; 
    font-size: 16px;
}


p {
    font-family: "Open Sans", Arial, sans-serif; 
}

.m-top {
    margin-top: 80px;
}