<section>
    <div class="desk-width">
        <h1>Imprint</h1>
        <ul>
            <li>According to § 5 TMG</li>
            <li>Maximlian Mühlbauer</li>
            <li>Mühlenstraße 2a</li>
            <li>59423 Unna</li>
        </ul>
        <h1>Contact</h1>
        <ul>
            <li><a href="mailto:example@example.com">mail: maximilian-muehlbauer&#64;web.de</a></li>
            <li><a href="tel:+015253416793">phone: 0152 534 167 93</a></li>
        </ul>
        <h1>Disclaimer</h1>
        <ul class="m-bot">
            <li>Our offer contains links to external third-party websites over whose content we have no influence. We therefore cannot accept any liability for this external content. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time of linking. Illegal content was not recognizable at the time of linking. However, permanent control of the content of the linked pages is not reasonable without concrete evidence of a legal violation. If we become aware of any legal violations, we will remove such links immediately.</li>
        </ul>
    </div>
</section>
