<section>
    <div class="desk-width d-flex">
        <div class="contact-box">contact</div>
        <div class="info-box">
            <h1>Information</h1>
            <p> 
                The more details you provide about your project, the quicker and more effectively we can assist you. If you don’t have all the info yet, no worries—contact us by email or phone. Also, please include your phone number and a preferred callback time so we can assist you promptly.
            </p>
            <span class="span-info-help">Informationen for quick help</span>
            <ul>
                <li>Format</li>
                <li>Umfang</li>
                <li>Farbigkeit</li>
                <li>Fertigung</li>
                <li>Auflage</li>
            </ul>
        </div>
    </div>
</section>
