@import './../../../styles.scss';

section {
    @include display();
    height: 700px;
    background-color: $color-orange;
}

.d-flex {
    display: flex;
}

.contact-box {
    // background-color: aliceblue;
    @include display($jc: flex-start);
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.info-box {
    background-color: rgba($color: white, $alpha: 1);
    @include display($ai: flex-start);
    flex: 1;
    flex-direction: column;
    padding: 20px;
    >.span-info-help {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    >ul {
        list-style-type: circle;
        >li {
            margin: 8px 0;
            font-size: 16px;
            font-family: 'Open Sans', Arial, sans-serif;
        }
    }
}

h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: $color-black-text;
    padding: 0 0 0 0;
}

.h1-contact {
    font-size: 48px;
    color: white;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    margin: 20px 0 60px 0;
}

.first-element {
    margin-top: 16px !important;
}

.input-box {
    position: relative;
    width: 100%;
    @include display($ai: flex-start);
    flex-direction: column;
    margin-top: 40px;
    >p {
        position: absolute;
        top: 32px;
    }
    >.textarea-p {
        position: absolute;
        bottom: -24px;
        font-size: 14px;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 400;
    }
    >input {
        font-family: 'Open Sans', Arial, sans-serif;
        width: 100%;
        height: 48px;
        border: none;
        outline: none;
        font-size: 16px;
        padding-left: 16px;
    }
    >textarea {
        font-family: 'Open Sans', Arial, sans-serif;
        width: 100%;
        height: 96px;
        max-height: 230px;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 8px 0 0 16px;
        resize: vertical;
        
    }
    input::placeholder {
        font-size: 16px;
        // padding-left: 8px;
    }
    >img {
        position: absolute;
        right: 16px;
        top: 11.5px;

    }
}

.btn-submit {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid white;
    &:hover {
        background-color: white;
        color: $color-orange
    }
}

.btn-disabled {
    width: 100%;
    font-size: 16px;
    border-color: $color-disabled-grey;
    color: $color-disabled-grey;
    cursor: default;
    &:hover {
        background-color: $color-orange;
        color: $color-disabled-grey;
    }
}

form {
    width: 100%;
}




