@import './../../../../styles.scss';

img {
    width: 50%;
    height: 400px;
    object-fit: cover;
}
div {
    width: 50%;
    padding: 30px 60px;
}

h1 {
    font-size: 30px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    margin: 20px 0 0 0;
}

p {
    margin: 15px 0 0 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h3 {
    margin: 20px 0 30px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: $color-orange;
    text-underline-offset: 8px;
    cursor: pointer;
}
