@import './../../../styles.scss';

section {
    height: 100vh;
    width: 100%;
    background-image: url(./../../../assets/images/head-section/letters.jpg);
    background-size: cover;
    background-position: center;
    @include display();
}

div {
    max-width: 1200px;
    width: 100%;
    .info-box {
        max-width: 440px;
        height: 400px;
        position: relative;
        z-index: 0;
        >.text-box {
            position: absolute;
            bottom: 48px;
            left: 48px;
            height: auto;
            z-index: 1;
            background-color: $color-white;
            // max-width: 560px;
            padding: 32px;
            color: $color-black-text;
           
            h1 {
                font-family: 'Montserrat', Arial, sans-serif;
                font-size: 48px;
                font-weight: 400;
            }
            p, h6 {
                font-family: 'Open Sans', Arial, sans-serif;
                font-size: 20px;
                font-weight: 400;
                margin: 20px 0 0 0;
            }       
        }
        >.bg-color {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 331px;
            background-color: $color-orange;
        }
    }
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1280px) {
    div {
        padding: 0 40px;
    }
}

@media (max-width: 1024px) {
    div {
        max-width: 1200px;
        width: 100%;
        @include display();
        flex-direction: column;
        .info-box {
            max-width: 800px;
            height: 400px;    
            >.text-box {
                left: 24px;
                height: auto;
                @include display($ai: flex-start);
            }
            >.bg-color {
                position: absolute;
                left: -24px;
                bottom: 0;
                height: 331px;
                background-color: $color-orange;
            }
        }
    }
    br {
        display: none;
    }
}

@media (max-width: 768px) {
    div {
        .info-box {
            max-width: 320px;
            height: 320px;
            position: relative;
            z-index: 0;
            >.text-box {
                position: absolute;
                bottom: 24px;
                left: 12px;
                height: auto;
                padding: 32px;

                h1 {
                    font-size: 24px;
                    font-weight: 500;
                }
                p, h6 {
                    font-size: 16px;
                    font-weight: 500;
                }       
            }
            >.bg-color {
                position: absolute;
                left: -12px;
                bottom: 0;
                height: 280px;
                background-color: $color-orange;
            }
        }
    }
}