<section>
    <div class="desk-width">
        <div class="footer-flex">
            <div class="contact-infos-container">
                <ul>
                    <li>Printing Company</li>
                    <li>Printingstreet 12</li>
                    <li>99999 Print Town</li>
                    <li><a href="mailto:example@example.com">info&#64;print.de</a></li>
                    <li><a href="tel:+123456789">+123456789</a></li>
                </ul>
            </div>
            <div class="certified-container">
                <h1>Print Certifications</h1>
                <img src="./assets/images/company-presentation/certified.png" alt="">
            </div>
            
            <div class="law-privacy-container">
                <ul>
                    <li><a href="imprint">Imprint</a></li>
                    <li><a href="privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</section>
