@import './../../../styles.scss';

section {
    @include display();
    background-color: $color-footer-background;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}


.footer-flex {
    @include display($jc: space-between);
    .contact-infos-container, .law-privacy-container{
        ul {
            list-style-type: none;
            padding: 0;
            margin: 80px 0;
            color: white;
            >li {
                padding: 2px 0;
            }
        }
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.certified-container {
    @include display();
    flex-direction: column;
    gap: 8px;
    color: white;
    >img {
        filter: invert(1);
    }
}

.only-mob {
    display: none;
}

@media (max-width: 768px) {
    .footer-flex {
        flex-direction: column;
    }

    ul {
        margin: 20px !important;
        @include display();
        flex-wrap: wrap;
    }

    .certified-container:nth-child(2) {
        order: 1;
        flex-direction: row;
        gap: 20px;
        margin-top: 60px;

    }

    .law-privacy-container:nth-child(3){
        order: 2;
        display: flex;
        flex-direction: row;
        ul {
            display: flex;
            gap: 40px;
        }
    }

    .contact-infos-container:nth-child(1) {
        order: 3;
        margin-bottom: 60px;
        
    }

    .only-mob {
        display: contents;
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 20px;
    }
}


